{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>review queue</h1>
      <table class="table table-condensed small">
        <thead>
          <tr><th>Answer</th><th>Number</th><th>Date</th><th></th></tr>
        </thead>
        <tbody>
          {% for ans in review_queue %}
          <tr>
            <td>{{ ans.answer_text }}</td>
            <td>{{ ans.from_number }}</td>
            <td>{{ ans.dt }}</td>
            <td>
              <a class="btn btn-success btn-sm" href="/approve/{{ ans.id }}"><i class="fa fa-fw fa-check"></i></a>
              <a class="btn btn-danger btn-sm" href="/disapprove/{{ ans.id }}"><i class="fa fa-fw fa-times"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <br/><br/>

      <h2>good to go</h2>

      <table class="table table-condensed small">
        <thead>
          <tr><th>Answer</th><th>Number</th><th>Date</th><th></th></tr>
        </thead>
        <tbody>
          {% for ans in approved %}
          <tr>
            <td>{{ ans.answer_text }}</td>
            <td>{{ ans.from_number }}</td>
            <td>{{ ans.dt }}</td>
            <td>
              <a class="btn btn-default btn-sm" href="/disapprove/{{ ans.id }}"><i class="fa fa-fw fa-times"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <h2>nope</h2>

      <table class="table table-condensed small">
        <thead>
          <tr><th>Answer</th><th>Number</th><th>Date</th><th></th></tr>
        </thead>
        <tbody>
          {% for ans in disapproved %}
          <tr>
            <td>{{ ans.answer_text }}</td>
            <td>{{ ans.from_number }}</td>
            <td>{{ ans.dt }}</td>
            <td>
              <a class="btn btn-default btn-sm" href="/approve/{{ ans.id }}"><i class="fa fa-fw fa-check"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
